appdirs==1.4.3
attrs==19.1.0
black==19.3b0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
Cython==0.29.10
decorator==4.4.0
idna==2.8
mpmath==1.1.0
networkx==2.3
numpy==1.16.4
peewee==3.9.6
planarity==0.4.1
pyknotid==0.5.3
requests==2.22.0
sympy==1.4
toml==0.10.0
tqdm==4.32.1
urllib3==1.25.3
vispy==0.5.3
