appdirs==1.4.3
attrs==19.1.0
black==19.3b0
certifi==2022.12.7
chardet==3.0.4
Click==7.0
cycler==0.10.0
Cython==0.29.10
decorator==4.4.0
docopt==0.6.2
idna==3.7
kiwisolver==1.1.0
matplotlib==3.1.1
mpmath==1.1.0
networkx==2.3
numpy==1.22.0
peewee==3.9.6
planarity==0.4.1
pyknotid==0.5.3
pyparsing==2.4.2
python-dateutil==2.8.0
requests==2.22.0
six==1.12.0
sympy==1.4
toml==0.10.0
tqdm==4.32.1
urllib3==1.26.5
vispy==0.5.3
yarg==0.1.9
